/* Overrides */
.chrome-bootstrap .frame .view {
    -webkit-margin-start: 0;
    width: 550px;
}

.chrome-bootstrap .frame .content {
    padding-top: 5px;
    width: 550px;
}

.chrome-bootstrap section {
    margin-top: 0;
    -webkit-padding-start: 5px;
}

.chrome-bootstrap .highlightable li {
    padding: 5px 0;
}

.chrome-bootstrap .highlightable .tags li a {
    display: inline;
}

/* Custom styles */
.commit-thumbnail,
.commit-info {
    display: inline-block;
}

.commit-thumbnail {
    margin-right: 10px;
}

.commit-message {
    display: inline-block;
}

.commit-author {
    font-weight: bold;
    line-height: 16px;
}

.tag-clickable {
    cursor: pointer;
}

.chrome-bootstrap ul.tags li.tag-clickable:hover {
    background-color: #2d509a;
}
