/* Overrides */
.chrome-bootstrap .frame .view {
    -webkit-margin-start: 0;
    width: 550px;
}

.chrome-bootstrap .frame .content {
    padding-top: 0px;
    width: 550px;
}

.chrome-bootstrap section {
    margin-top: 0;
    margin-bottom: 0;
}

.chrome-bootstrap .highlightable li {
    padding: 5px 0;
}

.chrome-bootstrap .highlightable li dd {
    overflow: visible;
}

.chrome-bootstrap .highlightable .tags li a {
    display: inline;
}


/* Custom styles */
#notifications {
    padding: 5px;
}

.highlightable {
    border: 2px inset #364a73;
    background-color: #fff;
    -webkit-margin-before: 0;
}

.commit-thumbnail,
.commit-info {
    display: inline-block;
}

.commit-thumbnail {
    margin-right: 2px;
}

.commit-message {
    display: inline-block;
}

.commit-author {
    font-weight: bold;
    line-height: 16px;
}

.commit-files {
    display: inline-block;
    width: 21px;
    font-size: 9px;
    text-align: right;
    margin-right: 2px;
}

.commit-files-added {
    color: green;    
}

.commit-files-modified {
    color: orange;    
}

.commit-files-removed {
    color: red;
}

.tag-clickable {
    cursor: pointer;
}

.chrome-bootstrap ul.tags li.tag-clickable:hover {
    background-color: #2d509a;
}
